<div class="container-fluid">
  <div class="posts request_approvals row">
    <h2>All Posts</h2>
    <hr>
    <% @posts.each do |post| %>
      <div class="welcome-page-block col-md-3">
        <h3><%= post.title %></h3>
        <p><span class="post-details"></span><%= truncate(post.body, length: 45) %></p>
        <p>- <%= post.user.full_name %></p>
        <div class="row">
            <div class="col-md-12 column">
              <%= link_to "View", post, class: 'btn btn-success btn-block' %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
