<div class="container">
  <div class="well">
    <h2>Title: <%= @post.title %></h2>
    <p><%= @post.body %></p>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" if policy(@post).update? %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" if policy(@post).destroy? %>
  </div>
</div>
